.video-detail {
  display: flex;
  float: left;
  width: 500px;
  height: 500px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.video-detail iframe {
  width: 100%;
}

.video-detail.description {
  padding: 10px;
}
