.video-detail {
  display: flex;
  float: left;
  width: 700px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-right: 10px;
}

.video-detail iframe {
  width: 100%;
  height: auto;
}

.video-detail.description {
  padding: 10px;
}
